body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    background-color: peachpuff;
    color: black;
    margin: 20px;
    padding: 10px;
}

section {
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.highlights, .qualifications {
    text-align: left;
}

h2 {
    color: brown;
}

ul {
    list-style-type: disc;
    padding: 0;
}

.intro{
    font-size: medium;
    font-weight: bold;
    color: black;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.cta {
    margin: 20px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f4f4f4f6;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}
